body {
  background-color: #2c2c2c;
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Quicksand', sans-serif;
}