html {
    --text: #00ffbf;
    --background: #000000;
    --primary: #ffffffff;
    --secondary: #ffb55b;
    --accent: #f477c8;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Inconsolata";
    font-size: 24px;
    font-style: oblique;
    text-decoration: underline;
    border: 3px solid rgb(0, 255, 200);
    padding: 1em;
    width: 700px;
    height: 700px;



}

h1 h2 h3 {
    color: var(--primary);
    font-family: "Roboto Mono";
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 10px solid var(secondary);
    border-radius: 100px background var(--primary)
}

audio {
    background: var(--secondary);
}

:link {
    color: red;
}

:visited {
    color: coral;
}