html {
    --text: #fdc5f5;
    --background: #000000;
    --primary: #ff0000;
    --secondary: #5ddfff;
    --accent: #000000;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Inconsolata";
    font-size: 24px;
    font-style: oblique;
    border: 3px solid rgb(255, 163, 253);
    padding: 1em;


}

h1 h2 h3 {
    color: var(--primary);
    font-family: "Roboto Mono";
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 10px solid var(secondary);
    border-radius: 100px background var(--primary)
}

audio {
    background: var(--secondary);
}

:link {
    color: rgb(0, 247, 255);
}

:visited {
    color: rgb(0, 255, 242);
}
