html {
    --text: #00ffbf;
    --background: #000000;
    --primary: #ffffffff;
    --secondary: #ffb55b;
    --accent: #f477c8;
}

body {
    color: var(--text);
    background: var(--background);
    /* font-family: "Oxanium"; */
    font-family: "Inconsolata";
    font-size: 18px;
    font-style: oblique;
    line-height: 150%;
    text-decoration: underline;
    text-decoration: wavy overline lime;
    border: 3px solid rgb(0, 255, 200);
    padding: 1em;
    width: 500px;
    height:300px;
    margin-top: 1in;
    margin-right: 0.5in;
    margin-bottom: 1in;
    margin-left: 0.5in;



}

h1 h2 h3 {
    color: var(--primary);
    font-family: "Roboto Mono";
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var(secondary);
    border-radius: 100px background var(--primary)
}

audio {
    background: var(--secondary);
}